@use 'bootstrap';

@use './variables.scss' as *;

// #region debug

/* .container {
    background-color: rgb(210, 105, 30);
} */

/* .row {
    background-color: rgb(0, 0, 255);
} */

/* div[class^="col"] {
    border: 1px solid violet;
} */

// #endregion debug

// #region GLOBAL RULES

body {
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-size: 3.75rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

h4 {
    font-size: 1.3rem;
    font-weight: bold;
}

a {
    text-decoration: none;
}

// #endregion GLOBAL RULES