$av-accent: #7abc64;
$av-txt-primary: #929aa3;
$av-txt-secondary: #494c4e;
$av-nav-bg: hsla(204, 3%, 30%, 0.5);
$av-light: #ffffff;
$av-dark: #000000;
$av-medium: #f6f6f6;
$av-link-accent: #7799ad;
$av-side-links: #33475b;