@use '../variables.scss' as *;

.av-btn {
    color: $av-ligh;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: $av-accent;
    border: 3px solid transparent;

    &:hover {
        color: $av-accent;
        border: 3px solid $av-accent;
        background-color: transparent;
    }
}