@use '../variables.scss' as *;

.av-btn {
    width: fit-content;
    color: $av-light;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: $av-accent;
    border: 3px solid transparent;

    &:hover {
        color: $av-accent;
        border: 3px solid $av-accent;
        background-color: transparent;
    }

}