@use '../variables.scss' as *;

footer {

    .container,
    .row {
        height: 100%;
    }

    height: 580px;
    background-image: url(../assets/img/pagination/footer-background-color.jpg);
    background-position: center;
    background-size: cover;

    #av-contacts {
        height: 100%;



    }

    #av-legal {
        height: 140px;
        background-color: $av-dark;
    }
}