@use '../variables.scss' as *;

footer {

    height: 580px;
    background-image: url(../assets/img/pagination/footer-background-color.jpg);
    background-position: center;
    background-size: cover;

    // #region CONTACTS

    #av-contacts {

        height: 100%;

        .container {
            height: 100%;
        }

        img.av-ftrLogo {
            width: 220px;
        }

        h5 {
            color: $av-light;
            font-weight: bold;
        }

        // CONTACTS
        .av-contactWrapper {

            p,
            a {
                margin: 0;
                font-size: 14px;
                line-height: 28px;
                color: $av-txt-primary;
            }

            i {
                color: $av-link-accent;
            }

        }

        // COURSES
        .av-coursesLinktWrapper {

            a,
            i {
                margin: 0;
                font-size: 1.125rem;
                line-height: 2.25rem;
                color: $av-accent;
            }

        }

        // OFFERS
        .av-offers {

            .av-adLabels {
                width: 100%;
            }

            .av-btn a {
                color: $av-light;
            }
        }



    }

    // //endregio CONTACTS

    // #region LEGAL

    #av-legal {
        height: 140px;
        background-color: $av-dark;

        .container,
        .row {
            height: 100%;
        }

        p {
            margin: 0;
            font-size: .75rem;
            line-height: 1.5rem;
            vertical-align: middle;
        }

        a {
            color: $av-accent;
        }

        // SOCIAL ICONS
        .av-ftrSocial {
            a {
                font-size: .875rem;
                line-height: 1.5rem;
                color: $av-light;
            }
        }
    }

    // #endregion LEGAL

}