@use '../variables.scss' as *;

.container,
.row {
    height: 100%;
}

.av-cardContainer {
    background-color: $av-accent;
    padding-top: 5px;
}

// #region BOOK LESSON

section#av-book {
    color: $av-txt-secondary;
    background-color: $av-light;

    .av-introduction {

        p.av-introInfo {
            font-size: 1.4rem;
            line-height: 2.8rem;
        }

        p {
            font-size: 1rem;
            line-height: 2rem;
        }

    }

    .av-bookForm {
        z-index: 10;
        margin-top: -2rem;

        h3 {
            color: $av-accent;
        }

        p {
            font-size: 1.3rem;
            line-height: 2.6rem;
            font-weight: 600;
        }

        input {
            line-height: 2rem;
            background-color: $av-medium;

        }

        ::placeholder {
            color: $av-txt-primary;
            ;
        }

        input#av-nameForm {
            background-image: url('../assets/img/pagination/form-ico.png');
            background-repeat: no-repeat;
            background-position: center right;
            background-position-x: 98%;
        }

        .av-btn {
            margin: 1rem auto 0;
        }

    }

}

// #endregion BOOK LESSON

// #region CALL TO ACTION

.av-ctaCall {
    height: 240px;
    background-image: url('../assets/img/pagination/horizontal-cta-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $av-light;

    p {
        color: $av-light;
        font-size: 1.4rem;
        font-weight: bold;
    }

    h2 {
        color: $av-light;
    }

    h3 {
        color: $av-light;
        font-weight: normal;
    }

}

// #endregion CALL TO ACTION

// #region COURSES

section#av-courses {
    height: 495px;
    background-image: url('../assets/img/pagination/promise-background.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

    .av-newCourse {
        margin-top: -1.5rem;
        background-color: $av-light;
        background-image: url('../assets/img/pagination/new-corner.jpg');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 20%;
        padding: 3.5rem;

        p {
            margin: 2.5rem 0 !important;
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    .av-course {
        color: $av-link-accent;

        .av-courseBtn {
            font-size: small;
            width: fit-content;
            color: $av-link-accent;
            text-transform: uppercase;
            font-weight: bold;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            border: 3px solid $av-link-accent;

            &:hover {
                color: $av-accent;
                border: 3px solid $av-accent;
            }
        }
    }
}

// #endregion COURSES

// #region RATES

section#av-rates {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" fill="rgba(138,154,173,0.2)"><path d="M-1 -1 L50 99 L101 -1 Z"></path></svg>');

    .av-rateCard {
        background-color: $av-light;

        p {
            font-size: 0.9em;
            font-weight: bold;
        }
    }

}

// #endregion RATES

// #region PERCENTAGE CIRCLE

.av-rateCircle {
    width: 70%;
}

.av-circleBg {
    fill: none;
    stroke: $av-medium;
    stroke-width: 1.5;
}

.av-circleBorder {
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.av-percentage {
    fill: $av-txt-primary;
    font-size: 0.6rem;
    text-anchor: middle;
}


@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

// #endregion PERCENTAGE CIRCLE

// #region INSTRUCTORS

section#av-instructors {

    h2 {
        line-height: 5rem;
    }

    p {
        font-size: 1.4rem;
        line-height: 2.8rem;
    }

    .av-btn {
        width: 80%;
    }

    .av-instructorCard {
        background-color: $av-light;
        padding-bottom: 1.5rem !important;
        padding-left: 3rem;
        padding-right: 3rem;

        img {
            margin-top: 1rem;
            margin-bottom: 2rem;
            width: 100%;
        }

        a {
            font-size: 16px;
            line-height: 2rem;
            vertical-align: middle;
            color: $av-txt-primary;
        }

        p {
            font-size: 1rem;
            line-height: 2rem;
        }

    }

}

// #endregion INSTRUCTORS

// #region TESTIMONIALS

section#av-testimonials {
    height: 900px;
    margin-top: -6rem;
    background-image: url('../assets/img/pagination/testimonial-background.jpg');
    background-position: center;
    background-size: cover;

    .av-appearing {
        width: 150px;
        aspect-ratio: 1/1;
        // animation: av-fadeIn ease 5s;
        // animation-iteration-count: infinite;
    }

    .av-testQuote {

        width: 40%;
        height: 128px;
        margin: 0 auto;

        p {
            font-size: 1rem;
            line-height: 2rem;
        }

    }

    p {
        font-size: 1.2rem;
        line-height: 2.84em;
    }

    i {
        color: $av-txt-primary;
        font-size: 0.75rem;
        cursor: pointer;
    }

}

/* @keyframes av-fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

// #endregion TESTIMONIALS

// #region BLOG

section#av-blog {

    height: 870px;
    margin-top: -6rem;
    background-image: url('../assets/img/pagination/latestnews-background.jpg');
    background-position: bottom center;
    background-size: cover;

    .av-cardContainer {
        background-color: $av-link-accent;
        padding-top: 5px;
        margin-top: -2rem;

        .av-news {
            background-color: $av-light;
            padding: 2.5rem;

            .av-postContainer {
                .av-post {
                    max-width: 50%;
                    padding: 1rem;

                    .av-blogImg {
                        max-width: 100%;
                    }

                    h4 {
                        color: $av-accent;
                    }

                    .av-blogInfo {
                        color: $av-txt-primary;
                        font-size: .75rem;

                        .av-blogComments {
                            color: $av-accent;
                        }
                    }

                }
            }

        }

    }

    .av-bottom {
        img {
            max-width: 100%;
            height: auto;
        }

    }

}

// #endregion BLOG

// #region NEWSLETTER

section#av-newsletter {
    height: 390px;
    background-image: url('../assets/img/pagination/newsletter_background.jpg');
    background-position: center;
    background-size: cover;

    .av-btn {
        width: 100%;
    }

    p {
        font-size: .75rem;
    }
}

//#endregion NEWSLETTER