@use '../variables.scss' as *;

.container,
.row {
    height: 100%;
}

section#av-book {
    color: $av-txt-secondary;

    background-color: $av-light;

    .av-introduction {
        h1 {
            color: $av-dark;
        }

        p.av-introInfo {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.125rem;
            line-height: 2rem;
        }

    }

    .av-bookForm {
        z-index: 10;
        margin-top: -2rem;

        h2 {
            color: $av-accent;
        }

        p {
            color: $av-txt-primary;
            font-size: 1.2rem;
            line-height: 2rem;
        }

        input {
            line-height: 2rem;
            background-color: $av-medium;

        }

        ::placeholder {
            color: $av-txt-primary;
            ;
        }

        input#av-nameForm {
            background-image: url('../assets/img/pagination/form-ico.png');
            background-repeat: no-repeat;
            background-position: center right;
            background-position-x: 98%;
        }

        .av-btn {
            margin: 1rem auto 0;
        }



    }

}

.av-ctaCall {
    height: 240px;
    background-image: url('../assets/img/pagination/horizontal-cta-background.jpg');

    color: $av-light;

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-weight: 400;
    }

}