@use '../variables.scss' as *;

.container,
.row {
    height: 100%;
}

// #region BOOK LESSON

section#av-book {
    color: $av-txt-secondary;
    background-color: $av-light;

    .av-introduction {
        h1 {
            color: $av-dark;
        }

        p.av-introInfo {
            color: $av-txt-primary;
            font-size: 1.4rem;
            line-height: 2.8rem;
        }

        p {
            color: $av-txt-primary;
            font-size: 1rem;
            line-height: 2rem;
        }

    }

    .av-bookForm {
        z-index: 10;
        margin-top: -2rem;

        h3 {
            color: $av-accent;
        }

        p {
            color: $av-txt-primary;
            font-size: 1.3rem;
            line-height: 2.6rem;
            font-weight: 600;
        }

        input {
            line-height: 2rem;
            background-color: $av-medium;

        }

        ::placeholder {
            color: $av-txt-primary;
            ;
        }

        input#av-nameForm {
            background-image: url('../assets/img/pagination/form-ico.png');
            background-repeat: no-repeat;
            background-position: center right;
            background-position-x: 98%;
        }

        .av-btn {
            margin: 1rem auto 0;
        }

    }

}

// #endregion BOOK LESSON

// #region CALL TO ACTION

.av-ctaCall {
    height: 240px;
    background-image: url('../assets/img/pagination/horizontal-cta-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $av-light;

    p {
        font-size: 1.4rem;
        font-weight: bold;
    }

    h3 {
        font-weight: normal;
    }

}

// #endregion CALL TO ACTION

// #region COURSES

section#av-courses {
    height: 495px;
    background-image: url('../assets/img/pagination/promise-background.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

    .av-newCourse {
        margin-top: -1.5rem;
        background-color: $av-light;
        background-image: url('../assets/img/pagination/new-corner.jpg');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 20%;
        padding: 3.5rem;

        p {
            color: $av-txt-primary;
            margin: 2.5rem 0 !important;
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    .av-course {
        color: $av-link-accent;

        .av-courseBtn {
            font-size: small;
            width: fit-content;
            color: $av-link-accent;
            text-transform: uppercase;
            font-weight: bold;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            border: 3px solid $av-link-accent;

            &:hover {
                color: $av-accent;
                border: 3px solid $av-accent;
            }
        }
    }
}

// #endregion COURSES

// #region RATES

section#av-rates {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" fill="rgba(138,154,173,0.2)"><path d="M-1 -1 L50 99 L101 -1 Z"></path></svg>');

    .av-cardContainer {
        background-color: $av-accent;
        padding-top: 5px;

        .av-rateCard {
            background-color: $av-light;

            p {
                color: $av-txt-primary;
                font-size: 0.9em;
                font-weight: bold;
            }
        }
    }

}

// #endregion RATES

// #region PERCENTAGE CIRCLE

.av-rateCircle {
    width: 70%;
}

.av-perCircle {}

.av-circleBg {
    fill: none;
    stroke: $av-medium;
    stroke-width: 1.5;
}

.av-circleBorder {
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.av-percentage {
    fill: $av-txt-primary;
    font-size: 0.6rem;
    text-anchor: middle;
}


@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

// #endregion PERCENTAGE CIRCLE